<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSXwe1PczavlSH2o9yVix2uPC75ub6HfU</string>
	<key>GCM_SENDER_ID</key>
	<string>174596478041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.furnigo</string>
	<key>PROJECT_ID</key>
	<string>furnigo-e74ea</string>
	<key>STORAGE_BUCKET</key>
	<string>furnigo-e74ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174596478041:ios:fbd7e3d72c5b242731cd48</string>
</dict>
</plist>